.content .markdown-section{
    width: 100%;
    max-width: unset;
}
main > .sidebar-toggle{
    z-index: 999;
}

.vuep-jsfiddle, .vuep-codepen{
    display: none!important;
}

::-webkit-scrollbar {width: 5px; height: 5px;background-color: #f5f5f5;}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/background: rgba(0 ,0, 0, .5);}
::-webkit-scrollbar-track {/*滚动条里面轨道*/background: rgba(0,0,0,.1);}

.vuep-preview [_echarts_instance_] {margin: auto;}

.cm-s-material .cm-comment{
	color: #ddd;
}

.sidebar{
	width: 180px;
}

.content{
	left: 180px;
	padding-top: 0;
}
.sidebar-toggle{
	display: none;
}